/* BASE */
:root {
  --accent1: #AEF6C7;
  --accent2: #5B8266;
  --accent3: #3E6259;
  --accent4: #329493;
  --accent5: #212922;
  --nav-hover: #75A282;
}

* {
  font-family: "Zalando Sans";
}

h1,
h2,
h3 {
  font-family: Tinos;
}

/* HEADER */

header {
  display: grid;
  grid-template-columns: 50px auto 44px;
  align-items: center;
  column-gap: 8px;
  background-color: var(--accent1);
}

header h2 {
  margin: 0;
  padding: 0.2rem;
}

header img {
  width: 50px;
  height: 50px;
  padding: 4px;
}

/* HAMBURGER */

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.hamburger::before {
  content: "\2630";
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger.show::before {
  content: "\00d7";
}

/* NAV */
nav {
  display: none;
  text-align: center;
}

nav.show {
  display: block;
}

nav a {
  display: block;
  background-color: var(--accent2);
  padding: 1rem;
  max-height: 44px;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

nav a:hover {
  background-color: var(--nav-hover);
}

.current {
  background-color: var(--accent1);
}

/* MAIN */

main {
  display: block;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0.5rem;
  text-align: left;
}

/* HERO */
#hero {
  position: relative;
  display: inline-block;
}

#hero img {
  width: 100%;
  display: block;
}

#cta {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 75%;
  background-color: var(--accent1);
  padding: 1.3rem;
  border: solid 1px var(--accent2);
  border-radius: 12px;
  text-decoration: none;
  color: #000;
}

/* INFO */
.info {
  display: block;
  text-align: left;
}

.info section {
  background-color: var(--accent2);
  margin: 0.5rem;
  padding: 0.5rem;
}

/* WEATHER */
#weather figure {
  background-color: var(--accent1);
  text-align: center;
  margin: 0 3rem;
  padding: 1rem;
}

#weather figcaption {
  margin: 0;
}

/* FORECAST */
#forecast {
  text-align: center;
}

.day {
  background-color: var(--accent1);
  margin: 0.3rem 3rem;
  padding: 1rem;
  border: solid 1px var(--accent2);
}

#forecast p {
  margin: 0;
}

/* BUSINESS PROFILE */

#grid-btn {
  display: none;
  border: none;
}

#grid-btn:hover {
  cursor: pointer;
  background-color: var(--nav-hover);
}

.businesses img {
  width: 200px;
  height: auto;
  background-color: #212922;
  padding: 1rem;
  border-radius: 12px;
}

.businesses div {
  background-color: var(--accent2);
  margin: 0.5rem;
  padding: 1rem;
}

.businesses a {
  display: block;
}

/* BUSINESS PROFILE */

#businesses h2 {
  text-align: center;
}

/* JOIN FORM */
form {
  display: block;
  text-align: left;
  margin: 1rem;
  border: solid 1px #ddd;
}

form p {
  margin: 0.4rem 0.6rem;
  font-size: 1.1rem;
}

form label,
input,
textarea {
  display: block;
}

form label {
  padding: 0.5rem;
  min-height: 44px;
}

.radio {
  margin: 0;
  padding: 0 0 0 1rem;
}

form button {
  display: block;
  min-height: 44px;
  margin: 0.7rem;
  width: auto;
}

/* MEMBERSHIP LEVEL CARDS */
@keyframes changeColor {
  from {
    background-color: var(--accent2);
  }

  to {
    background-color: var(--accent1);
  }
}

#info-cards {
  margin: 1rem;
  border: solid 1px #ddd;
  padding: 0.5rem;
}

.card {
  background-color: var(--accent2);
  padding: 0.5rem 0 2rem;
  border-radius: 12px;
  margin: 0.3rem;
  animation: changeColor 2s ease-in-out infinite alternate;
}

.card p {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.card a {
  background-color: var(--accent1);
  padding: 1rem;
  border: 1px solid var(--accent3);
  border-radius: 12px;
}

.card a:hover {
  cursor: pointer;
}

/* DISCOVER */
#places {
  display: grid;
}

.place {
  background-color: var(--accent2);
  margin: 0.5rem;
  padding: 1rem;
}

.place h2 {
  text-align: center;
}

.place button {
  background-color: var(--accent1);
  border: solid 1px var(--accent3);
  min-height: 44px;
  border-radius: 12px;
}

.place button:hover {
  cursor: pointer;
}

/* FOOTER */
footer {
  display: block;
  text-align: center;
  background-color: var(--accent1);
}

footer p {
  padding: 0.5rem;
  margin: 0.3rem;
}

footer span {
  display: block;
  padding: 0.5rem;
  margin: 0.3rem;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social a {
  width: 44px;
  height: 44px;
  display: block;
  align-content: center;
}

.social img {
  width: 35px;
  height: 35px;
}
