/* BASE */
:root {
  --accent1: #AEF6C7;
  --accent2: #5B8266;
  --accent3: #3E6259;
  --accent4: #329493;
  --accent5: #212922;
}

* {
  font-family: "Zalando Sans";
}

h1,
h2,
h3 {
  font-family: Tinos;

}

/* HEADER */

header {
  display: grid;
  grid-template-columns: 50px auto 44px;
  align-items: center;
  column-gap: 8px;
  background-color: var(--accent1);
}

header h2 {
  margin: 0;
  padding: 0.2rem;
}

header img {
  width: 50px;
  height: 50px;
  padding: 4px;
}

/* HAMBURGER */

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.hamburger::before {
  content: "\2630";
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger.show::before {
  content: "\00d7";
}

/* MAIN */

main {
  display: block;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
}

/* BUSINESS PROFILE */

#grid-btn {
  display: none;
}

.businesses img {
  width: 200px;
  height: auto;
  background-color: #212922;
  padding: 1rem;
  border-radius: 12px;
}

.businesses div {
  background-color: var(--accent2);
  margin: 0.5rem;
  padding: 1rem;
}

.businesses a {
  display: block;
}

/* FOOTER */
footer {
  display: block;
  text-align: center;
  background-color: var(--accent1);
}

footer p {
  padding: 0.5rem;
  margin: 0.3rem;
}

footer span {
  display: block;
  padding: 0.5rem;
  margin: 0.3rem;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social a {
  width: 44px;
  height: 44px;
  display: block;
  align-content: center;
}

.social img {
  width: 35px;
  height: 35px;
}
