@media only screen and (min-width: 38rem) {

  /********************************************************************** HEADER ********************************************************************/
  #hambtn {
    display: none;
  }

  /********************************************************************** NAV ********************************************************************/
  nav,
  nav.open {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

  /********************************************************************** FORM ********************************************************************/
  form input,
  form textarea,
  form button {
    width: 50%;
  }
}
