/* COLORS */
:root {
  --accent-1: #303036;
  --accent-2: #30bced;
  --border: #ddd;
  --accent-3: #fc5130;
}

/* ROOT */
* {
  font-family: IBM Plex Sans;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  border: solid 1px var(--border);
  column-gap: 8px;
  align-items: end;
}

header img {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 2px;
}

header span {
  font-size: 1.2rem;
  color: var(--accent-1);
}

/* HAMBURGER BUTTON */
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.hamburger::before {
  content: "\2630";
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger.show::before {
  content: "\00d7";
}

/* NAV BAR */
.navigation {
  display: none;
  color: var(--accent-1);
  border-bottom: solid 1px var(--border);
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li.current {
  background-color: #eee;
}

.navigation li:hover {
  background-color: var(--accent-2);
}

.navigation a {
  display: block;
  padding: 0.8rem 10px;
  text-decoration: none;
  color: var(--accent-1);
  border: solid 1px var(--border);
}

/* MAIN */
h1 {
  margin-left: 10px;
  color: var(--accent-1);
}

/* ABOUT */
.about {
  display: block;
  margin: 1rem 10px;
}

h2 {
  background-color: #ddd;
  margin-bottom: 0;
  padding: 0.4rem;
  text-align: center;
  color: var(--accent-1);
}

#about p {
  margin-top: 0;
  padding: 0.4rem;
}

#about {
  background-color: #ccc;
}

#photo {
  background-color: #ccc;
  text-align: center;
}

#photo img {
  width: 80%;
  height: auto;
  margin: 2rem 0;
  border: solid var(--border) 1px;
  border-radius: 12px;
}

/* COURSES */
.courses {
  text-align: center;
  margin: 1rem 10px;
  background-color: #ccc;
}

.course-btn {
  padding: 0.5rem;
  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.course-btn button {
  height: 44px;
  width: auto;
  border-radius: 12px;
  border: solid 1px var(--border);
  cursor: pointer;
}

.course-btn button:hover {
  background-color: var(--accent-2);
}

#courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  column-gap: 20px;
  padding-inline: 2rem
}

#courses p {
  background-color: var(--accent-3);
  height: 44px;
  border-radius: 12px;
  align-content: center;
  color: #fff;
}

#courses p:hover {
  cursor: pointer;
}

#course-counter {
  padding-inline: 2rem;
}

#courses p.completed {
  background-color: var(--accent-2);
  color: #000;
}


/* MODAL */
#course-details {
  background-color: white;
  width: 90%;
  max-width: 600px;
  border: solid 1px black;
}

::backdrop {
  background-color: rgb(0, 0, 0 / 50%);
}

/* FOOTER */
footer {
  background-color: #eee;
  padding: 1rem 10px;
  text-align: center;
}

footer span {
  display: block;
  padding: 0.2rem;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  padding-bottom: 0.5rem;
}

.social a {
  display: flex;
  border: var(--border) solid 1px;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.social a:hover {
  background-color: #ddd;
}

.social img {
  width: 28px;
  height: 28px;
}
