@media only screen and (min-width: 38rem) {

  header,
  main,
  nav,
  footer {
    max-width: 900px;
    margin: 0 auto;
  }

  header {
    grid-template-columns: 24px auto;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
  }

  .navigation a {
    border: none;
  }

  .navigation ul {
    display: flex;
  }

  .about {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .about h2 {
    margin: 0;
  }

  #about {
    margin-right: 10px;
  }

}
